.profile-page {
  font-family: 'Inter', 'Arial', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fafafa;
  color: #000000;
}

.profile-page__main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-page__exit-link {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #ee3465;
  text-decoration: none;
  margin: 0;
}
