.profile-edit {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-edit__heading {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  margin: 0;
}

.profile-edit__form {
  display: flex;
  flex-direction: column;
  border: none;
  padding-top: 110px;
}

.profile-edit__input-wrapper {
  display: flex;
  min-width: 410px;
  justify-content: space-between;
  border-bottom: 1px solid #e8e8e8;
  padding: 16px 0;
}

.profile-edit__input {
  border: none;
  background-color: transparent;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  text-align: right;
  padding: 0;
}

.profile-edit__input::placeholder {
  color: #000000;
}

.profile-edit__input:disabled {
  opacity: 0.4;
}

.profile-edit__label {
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  margin: 0;
}

.profile-edit__label_disabled {
  opacity: 0.4;
  pointer-events: none;
}

.profile-edit__error {
  color: #ee3465;
  font-size: 11px;
  line-height: 13px;
  max-width: 410px;
}

.profile-edit__server-message {
  font-size: 13px;
  line-height: 16px;
  margin-bottom: 10px;
  text-align: center;
}

.profile-edit__server-message_success {
  color: green;
}

.profile-edit__server-message__error {
  color: #ee3465;
}

.profile-edit__button-wrapper {
  display: flex;
  flex-direction: column;
  margin: 204px 0 16px;
}

.profile-edit__button {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  border: none;
  background-color: transparent;
}

.profile-edit__button:disabled {
  opacity: 0.4;
  pointer-events: none;
}

@media screen and (max-width: 1279px) {
  .profile-edit__form {
    padding-top: 80px;
  }

  .profile-edit__button-wrapper {
    margin: 194px 0 16px;
  }
}

@media screen and (max-width: 767px) {
  .profile-edit__form {
    padding-top: 64px;
  }

  .profile-edit__input-wrapper {
    min-width: 260px;
  }

  .profile-edit__error {
    max-width: 260px;
  }

  .profile-edit__button-wrapper {
    margin: 360px 0 16px;
  }
}
