.hover {
  opacity: 1;
  text-decoration: none;
  transition: all 0.6s ease;
}

.hover:hover {
  opacity: 0.6;
  text-decoration: underline;
  transition: all 0.6s ease;
}

.hover_type_no-underline {
  opacity: 1;
  transition: all 0.6s ease;
}

.hover_type_no-underline:hover {
  opacity: 0.6;
  transition: all 0.6s ease;
}

.hover_type_blue-button {
  color: #ffffff;
  background-color: #3456f3;
  transition: all 0.6s ease;
}

.hover_type_blue-button:hover {
  color: #3456f3;
  background-color: #ffffff;
  transition: all 0.6s ease;
}

.hover_type_svg {
  background-color: #3456f3;
  transition: all 0.6s ease;
}

.hover_type_svg svg path{
  fill: #ffffff;
  transition: fill 0.6s ease;
}

.hover_type_svg:hover {
  background-color: #ffffff;
  transition: all 0.6s ease;
}

.hover_type_svg:hover svg path{
  fill: #3456f3;
  transition: fill 0.6s ease;
}

.hover_type_light-button{
  transition: all 0.6s ease;
}

.hover_type_light-button:hover {
  color: #3456f3;
  border: 1px solid #3456f3;
  transition: all 0.6s ease;
}
