.movies {
  padding: 0 70px 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movies__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 38px 20px;
  padding: 80px 0 0;
  border-top: 1px solid #E8E8E8;
  box-sizing: border-box;
  width: 100%;
}

.movies__button {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  align-items: center;
  text-align: center;
  padding: 10px 60px;
  background: #FAFAFA;
  border: 1px #E8E8E8 solid;
  border-radius: 10px;
  box-sizing: border-box;
  min-width: 320px;
  margin-top: 50px;
}

.movies__button_type_saved {
  display: none;
}

@media screen and (max-width: 1279px) {
  .movies {
    padding: 0 30px 80px;
  }
    .movies__list {
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
    }
  
  }

  @media screen and (max-width: 767px) {
    .movies {
      padding: 0 10px 80px;
    }
      .movies__list {
        grid-template-columns: 1fr;
        gap: 35px 0;
        padding: 50px 0 0;
      }

      .movies__button {
        min-width: 200px;
      }
    
    }
