.auth-form {
  display: flex;
  flex-direction: column;
  padding: 40px 0 15px;
}

.auth-form__heading {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: left;
  margin: 0;
}

.auth-form__form {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}

.auth-form__input-wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.auth-form__label {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: #a0a0a0;

  margin: 0 0 10px 0;
}

.auth-form__input {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  padding: 15px;
  background: #f4f4f4;
  border-radius: 8px;
  border: none;
  min-width: 396px;
  box-sizing: border-box;
}

.auth-form__input-error {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: #ee3465;
}

.auth-form__button {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
  background: #3456f3;
  border-radius: 3px;
  box-sizing: border-box;
  border: none;
  padding: 15px 0;
  margin-top: 90px;
}

.auth-form__button_type_login {
  margin-top: 180px;
}

@media screen and (max-width: 767px) {
  .auth-form__form {
    padding-top: 60px;
  }

  .auth-form__input {
    min-width: 260px;
  }

  .auth-form__button {
    margin-top: 195px;
  }

  .auth-form__button_type_login {
    margin-top: 267px;
  }
}
