.header {
  display: flex;
  justify-content: space-between;
  padding: 18px 70px;
  width: 100%;
  box-sizing: border-box;
}

.header__container {
  display: flex;
  align-self: center;
  align-items: center;
}

.header__link {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
  color: #000000;
}

.header__login-button {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
  text-decoration: none;
  background-color: #3456f3;
  border-radius: 3px;
  padding: 8px 20px;
  margin-left: 30px;
}

@media screen and (max-width: 1279px) {
  .header {
    padding: 18px 30px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    padding: 18px 14px;
  }

  .header__link {
    font-size: 10px;
  }

  .header__login-button {
    font-size: 10px;
    padding: 5px 12px;
    margin-left: 14px;
  }
}
