.register-form {
  display: flex;
  flex-direction: column;
  padding: 40px 0 15px;
}

.register-form__heading {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: left;
  margin: 0;
}

.register-form__form {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}

.register-form__input-wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.register-form__label {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: #a0a0a0;

  margin: 0 0 10px 0;
}

.register-form__input {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  padding: 15px;
  background: #f4f4f4;
  border-radius: 8px;
  border: none;
  min-width: 396px;
  box-sizing: border-box;
}

.register-form__error {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: #ee3465;
  max-width: 396px;
}

.register-form__error_type_server {
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 10px;
}

.register-form__button-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 90px;
}

.register-form__button {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
  background: #3456f3;
  border-radius: 3px;
  box-sizing: border-box;
  border: 1px solid #3456f3;
  padding: 15px 0;
  width: 100%;
}

.register-form__button:disabled {
  opacity: 0.4;
  pointer-events: none;
}

@media screen and (max-width: 767px) {
  .register-form__form {
    padding-top: 60px;
    align-items: center;
  }

  .register-form__input {
    min-width: 260px;
  }

  .register-form__error {
    max-width: 260px;
  }
  
  .register-form__button-wrapper {
    margin-top: 195px;
  }
}
